<html>
  <head>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div>
    </div>
    <div class='container'>
      <div class='image'>
        <img src='/images/img.jpg' />
      </div>
      <div class='text'>
        <h1>{{text}}</h1>
      </div>
    </div>
    <h2>Repository
      <a
        href='https://github.com/dtlz417/pre-course-assignment-dt'
      >https://github.com/dtlz417/pre-course-assignment-dt</a></h2>
  </body>
</html>